In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
CLV_1=pd.read_csv('CLV_1.csv')
CLV_2=pd.read_csv('CLV_2.csv')

# 1

In [3]:
# CLV_1
print(CLV_1.shape)

(8099, 10)

In [4]:
print(CLV_1.CustomerID.nunique())

8099

In [5]:
# CLV_2
print(CLV_2.shape)

(8099, 15)

In [6]:
print(CLV_2.CustomerID.nunique())

8099

# 2

In [32]:
M1 = pd.merge(CLV_1,CLV_2)
M1

,CustomerID,State,CLV,Response,Coverage,Education,EffectiveToDate,EmploymentStatus,Gender,Income,...,MonthsSincePolicyInception,NumberofOpenComplaints,NumberofPolicies,PolicyType,Policy,RenewOfferType,SalesChannel,TotalClaimAmount,VehicleClass,VehicleSize
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/2011,Employed,F,56274.0,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/2011,Unemployed,F,NaN,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/2011,Employed,F,48767.0,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/2011,Unemployed,M,NaN,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/2011,Employed,M,43836.0,...,44,0,1,Personal Auto,NaN,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8094,UH22701,Oregon,9726.551005,No,Extended,Master,1/1/2011,Employed,F,72236.0,...,29,0,2,Personal Auto,Personal L3,Offer2,Call Center,518.064733,Four-Door Car,Medsize
8095,IA85970,California,8099.466122,No,Basic,Bachelor,2/7/2011,Unemployed,F,0.0,...,42,0,6,Personal Auto,Personal L3,Offer1,Branch,438.812143,SUV,Medsize
8096,TC18240,Oregon,5020.473987,No,Basic,College,1/29/2011,Employed,M,67890.0,...,26,0,3,Personal Auto,Personal L3,Offer1,Agent,174.088540,Four-Door Car,Medsize
8097,GE58317,Arizona,4834.710493,Yes,Basic,College,1/31/2011,Employed,F,38713.0,...,69,4,6,Personal Auto,Personal L3,Offer2,Call Center,316.800000,Four-Door Car,Medsize
8098,GW42895,Oregon,17625.537630,No,Basic,Bachelor,1/25/2011,Employed,F,77803.0,...,18,0,2,Personal Auto,Personal L3,Offer2,Agent,217.554695,Four-Door Car,Medsize

In [8]:
print(M1.shape)

(8099, 24)

In [9]:
print(M1.CustomerID.nunique())

8099

# 3

In [10]:
M1.isnull().sum()
# 2 columns (Income, Policy)

CustomerID                       0
State                            0
CLV                              0
Response                         0
Coverage                         0
Education                        0
EffectiveToDate                  0
EmploymentStatus                 0
Gender                           0
Income                         118
LocationCode                     0
MaritalStatus                    0
MonthlyPremiumAuto               0
MonthsSinceLastClaim             0
MonthsSincePolicyInception       0
NumberofOpenComplaints           0
NumberofPolicies                 0
PolicyType                       0
Policy                        4607
RenewOfferType                   0
SalesChannel                     0
TotalClaimAmount                 0
VehicleClass                     0
VehicleSize                      0
dtype: int64

# 4

In [11]:
# Income :118
# Policy :4607

In [34]:
M2 = M1.drop('Policy', axis='columns', inplace=True)
M2

KeyError: "['Policy'] not found in axis"

# 5

In [12]:
M2 = M1.drop('Policy', axis='columns', inplace=False)

# 6

In [13]:
M2['Income'].fillna(M2['Income'].mean(),inplace=True)

# 7

In [14]:
M2 = M1.drop('Policy', axis='columns', inplace=False)

In [15]:
M2['Income'].fillna(M2['Income'].mean(),inplace=True)

In [16]:
M2.isnull().sum()
# There is no missing value in M2

CustomerID                    0
State                         0
CLV                           0
Response                      0
Coverage                      0
Education                     0
EffectiveToDate               0
EmploymentStatus              0
Gender                        0
Income                        0
LocationCode                  0
MaritalStatus                 0
MonthlyPremiumAuto            0
MonthsSinceLastClaim          0
MonthsSincePolicyInception    0
NumberofOpenComplaints        0
NumberofPolicies              0
PolicyType                    0
RenewOfferType                0
SalesChannel                  0
TotalClaimAmount              0
VehicleClass                  0
VehicleSize                   0
dtype: int64

In [17]:
M1.drop('Policy', axis='columns', inplace=False).isnull().sum()

CustomerID                      0
State                           0
CLV                             0
Response                        0
Coverage                        0
Education                       0
EffectiveToDate                 0
EmploymentStatus                0
Gender                          0
Income                        118
LocationCode                    0
MaritalStatus                   0
MonthlyPremiumAuto              0
MonthsSinceLastClaim            0
MonthsSincePolicyInception      0
NumberofOpenComplaints          0
NumberofPolicies                0
PolicyType                      0
RenewOfferType                  0
SalesChannel                    0
TotalClaimAmount                0
VehicleClass                    0
VehicleSize                     0
dtype: int64

# 8

In [18]:
M2.dtypes
# 13 columns require creating Dummy Variables

CustomerID                     object
State                          object
CLV                           float64
Response                       object
Coverage                       object
Education                      object
EffectiveToDate                object
EmploymentStatus               object
Gender                         object
Income                        float64
LocationCode                   object
MaritalStatus                  object
MonthlyPremiumAuto              int64
MonthsSinceLastClaim            int64
MonthsSincePolicyInception      int64
NumberofOpenComplaints          int64
NumberofPolicies                int64
PolicyType                     object
RenewOfferType                 object
SalesChannel                   object
TotalClaimAmount              float64
VehicleClass                   object
VehicleSize                    object
dtype: object

In [19]:
M3 = pd.get_dummies(M2, columns=['State','Response','Coverage','Education','EmploymentStatus','Gender','LocationCode','MaritalStatus','PolicyType','RenewOfferType','SalesChannel','VehicleClass','VehicleSize'],drop_first=True)

In [20]:
M3.dtypes

CustomerID                         object
CLV                               float64
EffectiveToDate                    object
Income                            float64
MonthlyPremiumAuto                  int64
MonthsSinceLastClaim                int64
MonthsSincePolicyInception          int64
NumberofOpenComplaints              int64
NumberofPolicies                    int64
TotalClaimAmount                  float64
State_California                    uint8
State_Nevada                        uint8
State_Oregon                        uint8
State_Washington                    uint8
Response_Yes                        uint8
Coverage_Extended                   uint8
Coverage_Premium                    uint8
Education_College                   uint8
Education_Doctor                    uint8
Education_High School or Below      uint8
Education_Master                    uint8
EmploymentStatus_Employed           uint8
EmploymentStatus_Medical Leave      uint8
EmploymentStatus_Retired            uint8
EmploymentStatus_Unemployed         uint8
Gender_M                            uint8
LocationCode_Suburban               uint8
LocationCode_Urban                  uint8
MaritalStatus_Married               uint8
MaritalStatus_Single                uint8
PolicyType_Personal Auto            uint8
PolicyType_Special Auto             uint8
RenewOfferType_Offer2               uint8
RenewOfferType_Offer3               uint8
RenewOfferType_Offer4               uint8
SalesChannel_Branch                 uint8
SalesChannel_Call Center            uint8
SalesChannel_Web                    uint8
VehicleClass_Luxury Car             uint8
VehicleClass_Luxury SUV             uint8
VehicleClass_SUV                    uint8
VehicleClass_Sports Car             uint8
VehicleClass_Two-Door Car           uint8
VehicleSize_Medsize                 uint8
VehicleSize_Small                   uint8
dtype: object

In [21]:
M3.shape
# M3 row: 8099, col:45

(8099, 45)

# 9

In [22]:
M3['time']=pd.to_datetime(M3.EffectiveToDate)

In [23]:
time_point=pd.to_datetime('2/1/2011')

In [24]:
M3.loc[M3['time']>=time_point,:]
#3740

,CustomerID,CLV,EffectiveToDate,Income,MonthlyPremiumAuto,MonthsSinceLastClaim,MonthsSincePolicyInception,NumberofOpenComplaints,NumberofPolicies,TotalClaimAmount,...,SalesChannel_Call Center,SalesChannel_Web,VehicleClass_Luxury Car,VehicleClass_Luxury SUV,VehicleClass_SUV,VehicleClass_Sports Car,VehicleClass_Two-Door Car,VehicleSize_Medsize,VehicleSize_Small,time
0,BU79786,2763.519279,2/24/2011,56274.0,69,32,5,0,1,384.811147,...,0,0,0,0,0,0,1,1,0,2011-02-24
2,AI49188,12887.431650,2/19/2011,48767.0,108,18,38,0,2,566.472247,...,0,0,0,0,0,0,1,1,0,2011-02-19
4,HB64268,2813.692575,2/3/2011,43836.0,73,12,44,0,1,138.130879,...,0,0,0,0,0,0,0,1,0,2011-02-03
6,XZ87318,5380.898636,2/24/2011,55350.0,67,0,13,0,9,321.600000,...,0,0,0,0,0,0,0,1,0,2011-02-24
9,BQ94931,7388.178085,2/17/2011,28812.0,93,17,7,0,8,425.527834,...,0,0,0,0,0,0,0,1,0,2011-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8086,PX99904,4949.389491,2/6/2011,0.0,134,15,3,0,1,964.800000,...,0,0,0,0,0,1,0,0,1,2011-02-06
8089,GY65868,20600.239580,2/18/2011,64541.0,86,16,43,0,2,256.279637,...,0,0,0,0,0,0,0,0,1,2011-02-18
8092,YJ57293,2776.842204,2/4/2011,23830.0,76,24,22,1,1,364.800000,...,0,1,0,0,0,0,1,1,0,2011-02-04
8093,BV22194,14194.154410,2/13/2011,88178.0,70,32,78,0,2,336.000000,...,1,0,0,0,0,0,1,1,0,2011-02-13
8095,IA85970,8099.466122,2/7/2011,0.0,112,19,42,0,6,438.812143,...,0,0,0,0,1,0,0,1,0,2011-02-07

# 10

In [25]:
print(M3.time.max()-M3.time.min())
# 58 days

58 days 00:00:00

# 11

# 11

In [30]:
A = pd.to_datetime('1/1/2011')

In [27]:
B = pd.to_datetime('12/31/2011')

In [35]:
M3.loc[ A <= M3['time']
    ,:]

,CustomerID,CLV,EffectiveToDate,Income,MonthlyPremiumAuto,MonthsSinceLastClaim,MonthsSincePolicyInception,NumberofOpenComplaints,NumberofPolicies,TotalClaimAmount,...,SalesChannel_Call Center,SalesChannel_Web,VehicleClass_Luxury Car,VehicleClass_Luxury SUV,VehicleClass_SUV,VehicleClass_Sports Car,VehicleClass_Two-Door Car,VehicleSize_Medsize,VehicleSize_Small,time
0,BU79786,2763.519279,2/24/2011,56274.000000,69,32,5,0,1,384.811147,...,0,0,0,0,0,0,1,1,0,2011-02-24
1,QZ44356,6979.535903,1/31/2011,38390.046235,94,13,42,0,8,1131.464935,...,0,0,0,0,0,0,0,1,0,2011-01-31
2,AI49188,12887.431650,2/19/2011,48767.000000,108,18,38,0,2,566.472247,...,0,0,0,0,0,0,1,1,0,2011-02-19
3,WW63253,7645.861827,1/20/2011,38390.046235,106,18,65,0,7,529.881344,...,1,0,0,0,1,0,0,1,0,2011-01-20
4,HB64268,2813.692575,2/3/2011,43836.000000,73,12,44,0,1,138.130879,...,0,0,0,0,0,0,0,1,0,2011-02-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8094,UH22701,9726.551005,1/1/2011,72236.000000,80,2,29,0,2,518.064733,...,1,0,0,0,0,0,0,1,0,2011-01-01
8095,IA85970,8099.466122,2/7/2011,0.000000,112,19,42,0,6,438.812143,...,0,0,0,0,1,0,0,1,0,2011-02-07
8096,TC18240,5020.473987,1/29/2011,67890.000000,63,23,26,0,3,174.088540,...,0,0,0,0,0,0,0,1,0,2011-01-29
8097,GE58317,4834.710493,1/31/2011,38713.000000,66,31,69,4,6,316.800000,...,1,0,0,0,0,0,0,1,0,2011-01-31
8098,GW42895,17625.537630,1/25/2011,77803.000000,63,30,18,0,2,217.554695,...,0,0,0,0,0,0,0,1,0,2011-01-25