In [1]:
import pandas as pd
from pandas import DataFrame, Series

## 1

In [2]:
s1 = Series(range(6,11))
s1

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [3]:
s2 = Series(range(1,6))
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

## 2

In [4]:
s3 = s1 + s2
s3

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [5]:
s4 = s1 - s2
s4

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [6]:
s5 = s1 * s2
s5

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [7]:
s6 = s1 / s2
s6

0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64

# 3

In [8]:
s1.tolist()
# 要加括號

<bound method IndexOpsMixin.tolist of 0     6
1     7
2     8
3     9
4    10
dtype: int64>

In [9]:
s2.tolist()
# 要加括號

<bound method IndexOpsMixin.tolist of 0    1
1    2
2    3
3    4
4    5
dtype: int64>

# 4

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0, 200, size = (100, 6)), columns = list('ABCDEF'))

df

      A    B    C    D    E    F
0   195   38   21   98  117  147
1   172  110   85   43  137  117
2   127  184   83    8  159  107
3    94   44   47  171  114   59
4    81   28  117   73  144   13
..  ...  ...  ...  ...  ...  ...
95   27   84   67   79   73   78
96  160   15   57  145   49   78
97  110   42   85  132  167   37
98  139   50  134   32   78  186
99  194   11   74  152   71   59

[100 rows x 6 columns]

## 4A

In [11]:
df.shape
# rows :100
# counts :6

(100, 6)

## 4B

In [12]:
df.head(7)

     A    B    C    D    E    F
0  195   38   21   98  117  147
1  172  110   85   43  137  117
2  127  184   83    8  159  107
3   94   44   47  171  114   59
4   81   28  117   73  144   13
5   80  153   65   41   44  167
6   53  179   57  177  117  179

## 4C

In [13]:
df.tail(8)

      A    B    C    D    E    F
92    4   86  138   30  167   82
93  161  129  142   24    6    5
94   36  118  175   26   64  151
95   27   84   67   79   73   78
96  160   15   57  145   49   78
97  110   42   85  132  167   37
98  139   50  134   32   78  186
99  194   11   74  152   71   59

## 4D

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       100 non-null    int64
 1   B       100 non-null    int64
 2   C       100 non-null    int64
 3   D       100 non-null    int64
 4   E       100 non-null    int64
 5   F       100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB

## 4E

In [15]:
df.describe()
# A's count = 100
# B's mean = 90.49
# C's S.D. = 55.693079
# D's min = 0
# E's max = 197
# F's 50% = 114

                A           B           C           D           E           F
count  100.000000  100.000000  100.000000  100.000000  100.000000  100.000000
mean    97.980000   92.680000   97.010000   91.100000   97.930000  105.000000
std     58.537561   57.946663   51.236133   58.314975   53.244292   57.214994
min      3.000000    1.000000    2.000000    2.000000    5.000000    5.000000
25%     47.000000   42.000000   63.500000   41.000000   58.750000   60.500000
50%     94.500000   85.500000   83.500000   78.000000   93.500000  103.000000
75%    151.250000  134.250000  135.750000  147.250000  140.000000  160.500000
max    199.000000  197.000000  192.000000  194.000000  198.000000  198.000000

## 4F

In [16]:
df2 = df.iloc[28:100,2:5]
df2

      C    D    E
28  163  176    9
29   43   23   59
30  166  151   86
31   66  165   86
32   83   29   67
..  ...  ...  ...
95   67   79   73
96   57  145   49
97   85  132  167
98  134   32   78
99   74  152   71

[72 rows x 3 columns]

## 4G

In [17]:
df.size
#row-count * column-count for df2 = 600

600

## 4H

In [18]:
df2['C'].tolist()
# 要加括號

<bound method IndexOpsMixin.tolist of 28    163
29     43
30    166
31     66
32     83
     ...
95     67
96     57
97     85
98    134
99     74
Name: C, Length: 72, dtype: int64>

## 4I

In [19]:
df['D'].value_counts()

30     3
4      3
43     3
184    2
74     2
      ..
190    1
27     1
60     1
179    1
145    1
Name: D, Length: 74, dtype: int64

## 4J

In [20]:
df['A'].describe()

count    100.000000
mean      97.980000
std       58.537561
min        3.000000
25%       47.000000
50%       94.500000
75%      151.250000
max      199.000000
Name: A, dtype: float64